@model PCCO.Models.ViewModels.EditorIndividualViewModel
@{
    ViewBag.Title = @Model == null ? "Create Individual" : "Edit Individual";
}

<form asp-action="UpsertIndividual" asp-controller="Home" asp-area="Registrator" method="post">
    <div class="container">
        <div class="row">
            <div class="col">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>

                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>

                <label asp-for="MiddleName" class="form-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>

                <label asp-for="IdentificationCode" class="form-label"></label>
                <input asp-for="IdentificationCode" class="form-control" />
                <span asp-validation-for="IdentificationCode" class="text-danger"></span>

                <label asp-for="WorkPosition" class="form-label"></label>
                <input asp-for="WorkPosition" class="form-control" />
                <span asp-validation-for="WorkPosition" class="text-danger"></span>

                <label asp-for="Workplace" class="form-label"></label>
                <input asp-for="Workplace" class="form-control" />
                <span asp-validation-for="Workplace" class="text-danger"></span>

                <label asp-for="Birthday" class="form-label"></label>
                <input asp-for="Birthday" type="date" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>

                <label asp-for="Birthplace" class="form-label"></label>
                <input asp-for="Birthplace" class="form-control" />
                <span asp-validation-for="Birthplace" class="text-danger"></span>

                <label asp-for="Residence" class="form-label"></label>
                <input asp-for="Residence" class="form-control" />
                <span asp-validation-for="Residence" class="text-danger"></span>

                <label asp-for="Series" class="form-label"></label>
                <input asp-for="Series" class="form-control" />
                <span asp-validation-for="Series" class="text-danger"></span>

                <label asp-for="CourtName" class="form-label"></label>
                <input asp-for="CourtName" class="form-control" />
                <span asp-validation-for="CourtName" class="text-danger"></span>

                <label asp-for="CourtCaseNumber" class="form-label"></label>
                <input asp-for="CourtCaseNumber" class="form-control" />
                <span asp-validation-for="CourtCaseNumber" class="text-danger"></span>

                <label asp-for="CourtSentenceDate" class="form-label"></label>
                <input asp-for="CourtSentenceDate" type="date" class="form-control" />
                <span asp-validation-for="CourtSentenceDate" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="CourtSentenceNumber" class="form-label"></label>
                <input asp-for="CourtSentenceNumber" class="form-control" />
                <span asp-validation-for="CourtSentenceNumber" class="text-danger"></span>

                <label asp-for="CourtSentenceApplyingDate" class="form-label"></label>
                <input asp-for="CourtSentenceApplyingDate" type="date" class="form-control" />
                <span asp-validation-for="CourtSentenceApplyingDate" class="text-danger"></span>

                <label asp-for="CriminalRecordCancellationDate" class="form-label"></label>
                <input asp-for="CriminalRecordCancellationDate" type="date" class="form-control" onchange="updateRequirements('CriminalRecordCancellationDate', 'CriminalRecordCancellationReason')" />
                <span asp-validation-for="CriminalRecordCancellationDate" class="text-danger"></span>

                <label asp-for="CriminalRecordCancellationReason" class="form-label"></label>
                <input asp-for="CriminalRecordCancellationReason" class="form-control" onchange="updateRequirements('CriminalRecordCancellationReason', 'CriminalRecordCancellationDate')" />
                <span asp-validation-for="CriminalRecordCancellationReason" class="text-danger"></span>

                <label asp-for="CriminalActionType" class="form-label"></label>
                <input asp-for="CriminalActionType" class="form-control" />
                <span asp-validation-for="CriminalActionType" class="text-danger"></span>

                <label asp-for="CriminalActionCancellationDate" class="form-label"></label>
                <input asp-for="CriminalActionCancellationDate" type="date" class="form-control" onchange="updateRequirements('CriminalActionCancellationDate', 'CriminalActionCancellationReason')" />
                <span asp-validation-for="CriminalActionCancellationDate" class="text-danger"></span>

                <label asp-for="CriminalActionCancellationReason" class="form-label"></label>
                <input asp-for="CriminalActionCancellationReason" class="form-control" onchange="updateRequirements('CriminalActionCancellationReason', 'CriminalActionCancellationDate')" />
                <span asp-validation-for="CriminalActionCancellationReason" class="text-danger"></span>

                <label asp-for="DisciplinaryActionType" class="form-label"></label>
                <input asp-for="DisciplinaryActionType" class="form-control" />
                <span asp-validation-for="DisciplinaryActionType" class="text-danger"></span>

                <label asp-for="DisciplinaryActionDetails" class="form-label"></label>
                <input asp-for="DisciplinaryActionDetails" class="form-control" />
                <span asp-validation-for="DisciplinaryActionDetails" class="text-danger"></span>

                <label asp-for="DisciplinaryActionCancellationDate" class="form-label"></label>
                <input asp-for="DisciplinaryActionCancellationDate" type="date" class="form-control" onchange="updateRequirements('DisciplinaryActionCancellationDate', 'DisciplinaryActionCancellationReason')" />
                <span asp-validation-for="DisciplinaryActionCancellationDate" class="text-danger"></span>

                <label asp-for="DisciplinaryActionCancellationReason" class="form-label"></label>
                <input asp-for="DisciplinaryActionCancellationReason" class="form-control" onchange="updateRequirements('DisciplinaryActionCancellationReason', 'DisciplinaryActionCancellationDate')" />
                <span asp-validation-for="DisciplinaryActionCancellationReason" class="text-danger"></span>

                <label asp-for="ArticleNumber" class="form-label"></label>
                <input asp-for="ArticleNumber" class="form-control" />
                <span asp-validation-for="ArticleNumber" class="text-danger"></span>

                <label asp-for="ArticleTitle" class="form-label"></label>
                <input asp-for="ArticleTitle" class="form-control" />
                <span asp-validation-for="ArticleTitle" class="text-danger"></span>
            </div>
            <div class="col">
                <label asp-for="ArticleContent" class="form-label"></label>
                <input asp-for="ArticleContent" class="form-control" />
                <span asp-validation-for="ArticleContent" class="text-danger"></span>

                <label asp-for="OffenceDescription" class="form-label"></label>
                <input asp-for="OffenceDescription" class="form-control" />
                <span asp-validation-for="OffenceDescription" class="text-danger"></span>

                <label asp-for="OffenceMethod" class="form-label"></label>
                <input asp-for="OffenceMethod" class="form-control" />
                <span asp-validation-for="OffenceMethod" class="text-danger"></span>

                <label asp-for="OffenceLocation" class="form-label"></label>
                <input asp-for="OffenceLocation" class="form-control" />
                <span asp-validation-for="OffenceLocation" class="text-danger"></span>

                <label asp-for="Code" class="form-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>

                <label asp-for="UnitName" class="form-label"></label>
                <input asp-for="UnitName" class="form-control" />
                <span asp-validation-for="UnitName" class="text-danger"></span>

                <label asp-for="DepartmentName" class="form-label"></label>
                <input asp-for="DepartmentName" class="form-control" />
                <span asp-validation-for="DepartmentName" class="text-danger"></span>

                <label asp-for="PostalCode" class="form-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-danger"></span>

                <label asp-for="City" class="form-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>

                <label asp-for="Street" class="form-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>

                <label asp-for="BuildingNumber" class="form-label"></label>
                <input asp-for="BuildingNumber" class="form-control" />
                <span asp-validation-for="BuildingNumber" class="text-danger"></span>

                @{
                    if (ViewBag.Title == "Edit Individual")
                    {
                        <input asp-for="IdPcco" type="hidden" />
                        <input asp-for="IsActive" type="hidden" />
                    }
                }
            </div>
        </div>
    </div>
    <div>
        <button type="button" id="btn-save" class="search-btn subscribe btn btn-primary btn-block shadow-sm"> Save </button>
    </div>
</form>

@section Scripts{
    <script src="~/js/updateAlert.js"></script>
}