@model PCCO.Models.ApplicationUser
@{
    ViewBag.Title = "Edit Registrator";
}

<form asp-action="Edit" asp-controller="Home" asp-area="Administrator" method="post">
    <div class="container w-25 pt-5">
        <div class="raw">
            <div class="col">
                <label asp-for="UserName" class="form-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>

                <label asp-for="IdentificationCode" class="form-label"></label>
                <input asp-for="IdentificationCode" class="form-control" />
                <span asp-validation-for="IdentificationCode" class="text-danger"></span>

                <label asp-for="Birthday" class="form-label"></label>
                <input asp-for="Birthday" type="date" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>

                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>

                <label asp-for="Workplace" class="form-label"></label>
                <input asp-for="Workplace" class="form-control" />
                <span asp-validation-for="Workplace" class="text-danger"></span>

                <label asp-for="WorkPosition" class="form-label"></label>
                <input asp-for="WorkPosition" class="form-control" />
                <span asp-validation-for="WorkPosition" class="text-danger"></span>

                <input asp-for="Id" type="hidden" />
                <div class="col text-center pt-2">
                    <button type="button" id="btn-save" class="w-100 btn btn-primary btn-block shadow-sm"> Save </button>
                </div>
                <div class="col text-center pt-2">
                    <a asp-action="Index" asp-controller="Home" asp-area="Registrator" class="btn w-100 btn-secondary"> Back to List </a>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/alerts/updateAlert.js"></script>
}