@{
    ViewData["Title"] = "User managment";
}

<div class="container py-5">
    <div class="pt-4 pl-2 pr-2 pb-2" style="width: 20%; margin: 0 auto;">
        <ul class="nav rounded nav-fill mb-3">
            @if (User.HasClaim("CreateAdministrators", "True"))
            {
                <a id="register" class="nav-item btn btn-primary mx-2" asp-area="Identity" asp-page="/Account/Register">Create User</a>
            }
            else
            {
                <a id="register" class="nav-item btn btn-primary mx-2" asp-area="Identity" asp-page="/Account/Register">Create Registrator</a>
            }
        </ul>
    </div>
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header pt-4">
                    <div class="tab-content" id="pills-tabContent" style="text-align:left">
                        <div class="tab-pane fade show active" id="pills-individual" role="tabpanel" aria-labelledby="pills-individual-tab">
                            <form method="get" id="usersForm" data-ajax="true" data-ajax-method="get" data-ajax-update="#usersListDiv" data-ajax-mode='replace' data-ajax-url="@Url.Action("GetUsersPartial","Home")">
                                <div class="form-group">
                                    <label for="lastName">
                                        <h6>Name</h6>
                                    </label>
                                    <input type="text" id="lastName" name="lastName" class="form-control ">
                                </div>
                                <div class="form-group">
                                    <label for="idCode">
                                        <h6>Identification code</h6>
                                    </label>
                                    <input type="text" data-val-length-max="10" data-val-length-min="10" data-val-range-max="9999999999" data-val-range-min="1" id="idCode" name="idCode" class="form-control ">
                                </div>
                                <div>
                                    <button type="submit" class="w-100 mt-3 subscribe btn btn-primary btn-block shadow-sm"> Search </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="usersListDiv"></div>

@section Scripts
    {
    <script src="~/js/alerts/deleteAlert.js"></script>
    <script src="~/js/alerts/updateAlert.js"></script>
    <script>
        $(document).ready(function() {
            $("#usersForm").submit();
        });
    </script>
}