@page
@using PCCO.Models
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="pt-4">Register - ADMIN PORTAL</h1>

<div class="row pt-4">
    <div class="col-md-7">
        <form id="registerForm" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new registrator.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating py-2 col-12">
                <input asp-for="Input.Email" class="form-control" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" />
                <label asp-for="Input.PhoneNumber"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <i class="fa fa-eye-slash icon" style="position: absolute; right:20px;" id="togglePassword"></i>
                <input asp-for="Input.Password" class="form-control" id="password" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
                <label asp-for="Input.FirstName"></label>
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.LastName" class="form-control" aria-required="true" />
                <label asp-for="Input.LastName"></label>
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.MiddleName" class="form-control" aria-required="true" />
                <label asp-for="Input.MiddleName"></label>
                <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.IdentificationCode" class="form-control" aria-required="true" />
                <label asp-for="Input.IdentificationCode"></label>
                <span asp-validation-for="Input.IdentificationCode" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Workplace" class="form-control" aria-required="true" />
                <label asp-for="Input.Workplace"></label>
                <span asp-validation-for="Input.Workplace" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.WorkPosition" class="form-control" aria-required="true" />
                <label asp-for="Input.WorkPosition"></label>
                <span asp-validation-for="Input.WorkPosition" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-6">
                <input asp-for="Input.Birthday" class="form-control" aria-required="true" />
                <label asp-for="Input.Birthday"></label>
                <span asp-validation-for="Input.Birthday" class="text-danger"></span>
            </div>
            @if (User.HasClaim("CreateAdministrators", "True"))
            {
                <div class="form-floating py-2 col-6">
                    <select asp-for="Input.Role" asp-items="@Model.RoleList" class=form-select>
                        <option disabled selected>-Select Role-</option>
                    </select>
                    <label asp-for="Input.Role"></label>
                </div>
            }
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/togglePassword.js"></script>
}
