@model string[]
@{
    ViewBag.Title = "Index";
}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card ">
                <div class="card-header pt-4">
                    <div class="bg-white shadow-sm pl-2 pr-2">
                        <ul class="nav nav-pills mb-3 rounded nav-fill" id="pills-tab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-individual-tab" data-bs-toggle="pill" data-bs-target="#pills-individual" type="button" role="tab" aria-controls="pills-individual" aria-selected="true"> Individual </button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-legal-tab" data-bs-toggle="pill" data-bs-target="#pills-legal" type="button" role="tab" aria-controls="pills-legal" aria-selected="false"> Legal </button>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content" id="pills-tabContent" style="text-align:left">
                        <div class="tab-pane fade show active" id="pills-individual" role="tabpanel" aria-labelledby="pills-individual-tab">
                            <form method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#indListDiv" data-ajax-mode='replace' data-ajax-url="@Url.Action("GetIndividualsPartial","Home")">
                                @await Html.PartialAsync("_PartialSearchInd")
                            </form>
                        </div>

                        <div class="tab-pane fade" id="pills-legal" role="tabpanel" aria-labelledby="pills-legal-tab">
                            <form method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#legListDiv" data-ajax-mode='replace' data-ajax-url="@Url.Action("GetLegalsPartial","Home")">
                                @await Html.PartialAsync("_PartialSearchLeg")
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="indListDiv" style="display: none"></div>

<div id="legListDiv" style="display: none"></div>

@section Scripts{
    <script src="~/js/toggleTable.js"></script>
}